@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-[#F2F2F2] font-black antialiased;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}